.tree-container {
  position: relative;
  display: block;
  font-size: 16px;
  user-select: none;
  min-height: 320px;
  padding: 15px;
  width: 100%;
}

.tree-container .tree,
.tree-container .tree-node,
.tree-container .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-container .tree-branch-wrapper,
.tree-container .tree-node__leaf {
  outline: none;
}

.tree-container .tree-node {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.tree-container .tree-node {
  display: inline-block;
}

.tree-container .tree-container-icon {
  margin: 0 5px;
  vertical-align: middle;
}

.tree-container button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.tree-container .arrow {
  margin-left: 5px;
  vertical-align: middle;
}

.tree-container .arrow--open {
  transform: rotate(90deg);
}